{% extends 'partials/base.html.twig' %}

{% block content %}
	{{ page.content }}

    {% cache 'md5test' 900 %}
    <ol>
    {% for i in 0..10000 %}
        <li>{{ i|md5 }}</li>
    {% endfor %}
    </ol>
    {% endcache %}

{% endblock %}
