{% extends 'partials/base.html.twig' %}



{% block content %}

    {% import "macros/macros.html.twig" as aform %}
    <h2>Macro Test</h2>
    <p>{{ aform.input('username') }}</p>

    {{ dump(grav['loader']) }}

    <h2>GitHub Plugin</h2>
    {% cache 'github_api' 600 %}
        {% include 'github.html.twig' %}
    {% endcache %}

	{{ page.content }}
{% endblock %}
